@charset "UTF-8";

// ==========================================================================
// Material Design Colors
// @link https://material.io/design/color/#color-ui-color-palette
// ==========================================================================

// Red
// ----------------------------------------------------------------------------
$mc-red-50: #ffebee;
$mc-red-100: #ffcdd2;
$mc-red-200: #ef9a9a;
$mc-red-300: #e57373;
$mc-red-400: #ef5350;
$mc-red-500: #f44336;
$mc-red-600: #e53935;
$mc-red-700: #d32f2f;
$mc-red-800: #c62828;
$mc-red-900: #b71c1c;
$mc-red-a100: #ff8a80;
$mc-red-a200: #ff5252;
$mc-red-a400: #ff1744;
$mc-red-a700: #d50000;

// Pink
// ----------------------------------------------------------------------------
$mc-pink-50: #fce4ec;
$mc-pink-100: #f8bbd0;
$mc-pink-200: #f48fb1;
$mc-pink-300: #f06292;
$mc-pink-400: #ec407a;
$mc-pink-500: #e91e63;
$mc-pink-600: #d81b60;
$mc-pink-700: #c2185b;
$mc-pink-800: #ad1457;
$mc-pink-900: #880e4f;
$mc-pink-a100: #ff80ab;
$mc-pink-a200: #ff4081;
$mc-pink-a400: #f50057;
$mc-pink-a700: #c51162;

// Purple
// ----------------------------------------------------------------------------
$mc-purple-50: #f3e5f5;
$mc-purple-100: #e1bee7;
$mc-purple-200: #ce93d8;
$mc-purple-300: #ba68c8;
$mc-purple-400: #ab47bc;
$mc-purple-500: #9c27b0;
$mc-purple-600: #8e24aa;
$mc-purple-700: #7b1fa2;
$mc-purple-800: #6a1b9a;
$mc-purple-900: #4a148c;
$mc-purple-a100: #ea80fc;
$mc-purple-a200: #e040fb;
$mc-purple-a400: #d500f9;
$mc-purple-a700: #aa00ff;

// Deep Purple
// ----------------------------------------------------------------------------
$mc-deep-purple-50: #ede7f6;
$mc-deep-purple-100: #d1c4e9;
$mc-deep-purple-200: #b39ddb;
$mc-deep-purple-300: #9575cd;
$mc-deep-purple-400: #7e57c2;
$mc-deep-purple-500: #673ab7;
$mc-deep-purple-600: #5e35b1;
$mc-deep-purple-700: #512da8;
$mc-deep-purple-800: #4527a0;
$mc-deep-purple-900: #311b92;
$mc-deep-purple-a100: #b388ff;
$mc-deep-purple-a200: #7c4dff;
$mc-deep-purple-a400: #651fff;
$mc-deep-purple-a700: #6200ea;

// Indigo
// ----------------------------------------------------------------------------
$mc-indigo-50: #e8eaf6;
$mc-indigo-100: #c5cae9;
$mc-indigo-200: #9fa8da;
$mc-indigo-300: #7986cb;
$mc-indigo-400: #5c6bc0;
$mc-indigo-500: #3f51b5;
$mc-indigo-600: #3949ab;
$mc-indigo-700: #303f9f;
$mc-indigo-800: #283593;
$mc-indigo-900: #1a237e;
$mc-indigo-a100: #8c9eff;
$mc-indigo-a200: #536dfe;
$mc-indigo-a400: #3d5afe;
$mc-indigo-a700: #304ffe;

// Blue
// ----------------------------------------------------------------------------
$mc-blue-50: #E3F2FD;
$mc-blue-100: #BBDEFB;
$mc-blue-200: #90CAF9;
$mc-blue-300: #64B5F6;
$mc-blue-400: #42A5F5;
$mc-blue-500: #2196F3;
$mc-blue-600: #1E88E5;
$mc-blue-700: #1976D2;
$mc-blue-800: #1565C0;
$mc-blue-900: #0D47A1;
$mc-blue-a100: #82B1FF;
$mc-blue-a200: #448AFF;
$mc-blue-a400: #2979FF;
$mc-blue-a700: #2962FF;

// Light Blue
// ----------------------------------------------------------------------------
$mc-light-blue-50: #e1f5fe;
$mc-light-blue-100: #b3e5fc;
$mc-light-blue-200: #81d4fa;
$mc-light-blue-300: #4fc3f7;
$mc-light-blue-400: #29b6f6;
$mc-light-blue-500: #03a9f4;
$mc-light-blue-600: #039be5;
$mc-light-blue-700: #0288d1;
$mc-light-blue-800: #0277bd;
$mc-light-blue-900: #01579b;
$mc-light-blue-a100: #80d8ff;
$mc-light-blue-a200: #40c4ff;
$mc-light-blue-a400: #00b0ff;
$mc-light-blue-a700: #0091ea;

// Cyan
// ----------------------------------------------------------------------------
$mc-cyan-50: #e0f7fa;
$mc-cyan-100: #b2ebf2;
$mc-cyan-200: #80deea;
$mc-cyan-300: #4dd0e1;
$mc-cyan-400: #26c6da;
$mc-cyan-500: #00bcd4;
$mc-cyan-600: #00acc1;
$mc-cyan-700: #0097a7;
$mc-cyan-800: #00838f;
$mc-cyan-900: #006064;
$mc-cyan-a100: #84ffff;
$mc-cyan-a200: #18ffff;
$mc-cyan-a400: #00e5ff;
$mc-cyan-a700: #00b8d4;

// Teal
// ----------------------------------------------------------------------------
$mc-teal-50: #e0f2f1;
$mc-teal-100: #b2dfdb;
$mc-teal-200: #80cbc4;
$mc-teal-300: #4db6ac;
$mc-teal-400: #26a69a;
$mc-teal-500: #009688;
$mc-teal-600: #00897b;
$mc-teal-700: #00796b;
$mc-teal-800: #00695c;
$mc-teal-900: #004d40;
$mc-teal-a100: #a7ffeb;
$mc-teal-a200: #64ffda;
$mc-teal-a400: #1de9b6;
$mc-teal-a700: #00bfa5;

// Green
// ----------------------------------------------------------------------------
$mc-green-50: #e8f5e9;
$mc-green-100: #c8e6c9;
$mc-green-200: #a5d6a7;
$mc-green-300: #81c784;
$mc-green-400: #66bb6a;
$mc-green-500: #4caf50;
$mc-green-600: #43a047;
$mc-green-700: #388e3c;
$mc-green-800: #2e7d32;
$mc-green-900: #1b5e20;
$mc-green-a100: #b9f6ca;
$mc-green-a200: #69f0ae;
$mc-green-a400: #00e676;
$mc-green-a700: #00c853;

// Light Green
// ----------------------------------------------------------------------------
$mc-light-green-50: #f1f8e9;
$mc-light-green-100: #dcedc8;
$mc-light-green-200: #c5e1a5;
$mc-light-green-300: #aed581;
$mc-light-green-400: #9ccc65;
$mc-light-green-500: #8bc34a;
$mc-light-green-600: #7cb342;
$mc-light-green-700: #689f38;
$mc-light-green-800: #558b2f;
$mc-light-green-900: #33691e;
$mc-light-green-a100: #ccff90;
$mc-light-green-a200: #b2ff59;
$mc-light-green-a400: #76ff03;
$mc-light-green-a700: #64dd17;

// Lime
// ----------------------------------------------------------------------------
$mc-lime-50: #f9fbe7;
$mc-lime-100: #f0f4c3;
$mc-lime-200: #e6ee9c;
$mc-lime-300: #dce775;
$mc-lime-400: #d4e157;
$mc-lime-500: #cddc39;
$mc-lime-600: #c0ca33;
$mc-lime-700: #afb42b;
$mc-lime-800: #9e9d24;
$mc-lime-900: #827717;
$mc-lime-a100: #f4ff81;
$mc-lime-a200: #eeff41;
$mc-lime-a400: #c6ff00;
$mc-lime-a700: #aeea00;

// Yellow
// ----------------------------------------------------------------------------
$mc-yellow-50: #fffde7;
$mc-yellow-100: #fff9c4;
$mc-yellow-200: #fff59d;
$mc-yellow-300: #fff176;
$mc-yellow-400: #ffee58;
$mc-yellow-500: #ffeb3b;
$mc-yellow-600: #fdd835;
$mc-yellow-700: #fbc02d;
$mc-yellow-800: #f9a825;
$mc-yellow-900: #f57f17;
$mc-yellow-a100: #ffff8d;
$mc-yellow-a200: #ffff00;
$mc-yellow-a400: #ffea00;
$mc-yellow-a700: #ffd600;

// Amber
// ----------------------------------------------------------------------------
$mc-amber-50: #fff8e1;
$mc-amber-100: #ffecb3;
$mc-amber-200: #ffe082;
$mc-amber-300: #ffd54f;
$mc-amber-400: #ffca28;
$mc-amber-500: #ffc107;
$mc-amber-600: #ffb300;
$mc-amber-700: #ffa000;
$mc-amber-800: #ff8f00;
$mc-amber-900: #ff6f00;
$mc-amber-a100: #ffe57f;
$mc-amber-a200: #ffd740;
$mc-amber-a400: #ffc400;
$mc-amber-a700: #ffab00;

// Orange
// ----------------------------------------------------------------------------
$mc-orange-50: #fff3e0;
$mc-orange-100: #ffe0b2;
$mc-orange-200: #ffcc80;
$mc-orange-300: #ffb74d;
$mc-orange-400: #ffa726;
$mc-orange-500: #ff9800;
$mc-orange-600: #fb8c00;
$mc-orange-700: #f57c00;
$mc-orange-800: #ef6c00;
$mc-orange-900: #e65100;
$mc-orange-a100: #ffd180;
$mc-orange-a200: #ffab40;
$mc-orange-a400: #ff9100;
$mc-orange-a700: #ff6d00;

// Deep Orange
// ----------------------------------------------------------------------------
$mc-deep-orange-50: #fbe9e7;
$mc-deep-orange-100: #ffccbc;
$mc-deep-orange-200: #ffab91;
$mc-deep-orange-300: #ff8a65;
$mc-deep-orange-400: #ff7043;
$mc-deep-orange-500: #ff5722;
$mc-deep-orange-600: #f4511e;
$mc-deep-orange-700: #e64a19;
$mc-deep-orange-800: #d84315;
$mc-deep-orange-900: #bf360c;
$mc-deep-orange-a100: #ff9e80;
$mc-deep-orange-a200: #ff6e40;
$mc-deep-orange-a400: #ff3d00;
$mc-deep-orange-a700: #dd2c00;

// Brown
// ----------------------------------------------------------------------------
$mc-brown-50: #efebe9;
$mc-brown-100: #d7ccc8;
$mc-brown-200: #bcaaa4;
$mc-brown-300: #a1887f;
$mc-brown-400: #8d6e63;
$mc-brown-500: #795548;
$mc-brown-600: #6d4c41;
$mc-brown-700: #5d4037;
$mc-brown-800: #4e342e;
$mc-brown-900: #3e2723;

// Grey
// ----------------------------------------------------------------------------
$mc-grey-50: #fafafa;
$mc-grey-100: #f5f5f5;
$mc-grey-200: #eeeeee;
$mc-grey-300: #e0e0e0;
$mc-grey-400: #bdbdbd;
$mc-grey-500: #9e9e9e;
$mc-grey-600: #757575;
$mc-grey-700: #616161;
$mc-grey-800: #424242;
$mc-grey-900: #212121;
$mc-black: #000000;
$mc-white: #ffffff;

// Blue Grey
// ----------------------------------------------------------------------------
$mc-blue-grey-50: #eceff1;
$mc-blue-grey-100: #cfd8dc;
$mc-blue-grey-200: #b0bec5;
$mc-blue-grey-300: #90a4ae;
$mc-blue-grey-400: #78909c;
$mc-blue-grey-500: #607d8b;
$mc-blue-grey-600: #546e7a;
$mc-blue-grey-700: #455a64;
$mc-blue-grey-800: #37474f;
$mc-blue-grey-900: #263238;
